// Project themecolors, fonts & fontsizes
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;   
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;   
    --color-gray-4: #F6F6F6;
    --color-product-instock: #82D8C6;
    --color-prodict-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400; 
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

// Standard options for the site
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}
// Helpers
.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// top-menu

.top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;

    .container {
        padding: 0;
    }

    a {
        color: var(--color-white);
        text-decoration: none;
        margin: 1rem;
    }

        a:hover {
            color: var(--color-theme-dark);
        }

// Top menu site settings and dropboxes
   
    .site-settings {
        display: flex;
     }    

        .site-settings .btn {
            background-color: var(--color-theme);
            color: var(--color-white);
            border: 0px;
        }    
            .site-settings .btn:hover {
                color: var(--color-theme-dark);
                border: 0px;
            }    

    .site-settings .dropdown-menu {
        background-color: var(--color-theme);
        border-radius: 0;



        a {
            color: var(--color-white);
            background-color: var(--color-theme);
            margin: 1rem 0;

        }
            a:hover {
                color: var(--color-theme-dark);
                background-color: var(--color-theme);
                font-size: var(--font-size-16);
            }

    
        }

// Top menu links and social media buttons
      
    .menu-links {
        .social-media  {
            margin-left: 1rem;
            font-size: var(--font-size-14);

        a {
            margin: 0.3rem;
    
        }

            a:last-child {
                margin: 0 0 0 0.3rem;
        
            }

    }

    }

 }    
// The Main part of the Header
.main-menu {
    
    .border-bottom {
        border-color: var(--color-gray-3);
    }

    .container {
        padding: 2rem 0; 
    }
// Left side, brand logo
    .logo-menu {
        flex: 2;
        justify-content: start;
    }
// Searchbar
    .searhbar {
        flex: 5;
    }
// Right side, user controls
    .user-controls  {
        flex: 2;
        display: flex;
        justify-content: end;
        align-items: center;
    }
        
        .user-controls i {
            font-size: var(--font-size-16)
        }
    
        .user-controls a {
            color: var(--color-theme-dark);
            text-decoration: none;
            margin: 0 0 0 1rem;
        }
            .user-controls a:hover {
                color: var(--color-theme);
            }

}
// The bottom part of the header
.main-menu-bottom {

    .container {
    padding: 0;
    margin-top: 0;
    }   
// The categories dropdown menu
    .dropdown {
        background-color: var(--color-theme);

        .btn {
            color: var(--color-white);
            border: 0px;
            // Height not working properly, fixed height ok?
            height: 3.5rem;
        }
            .btn:hover {
                color: var(--color-theme-dark);
                border: 0px;
            }

        .dropdown-menu {
            background-color: var(--color-theme);
            border-radius: 0;
        

            a {
                color: var(--color-white);
            }
                a:hover {
                    background-color: var(--color-theme);
                    color: var(--color-theme-dark);
                    font-size: var(--font-size-16);

                }
        }

    }
// Special offer button
    .special-offer {

        padding: .3rem;

        #btn-special-offer {
            border-radius: 2rem;
            border: none;
            padding: .5rem 1rem;
            background-color: var(--color-theme);
            color: var(--color-white);
        }

            #btn-special-offer:hover {
                color: var(--color-theme-dark);
            }
        
        
    }

}