// Project themecolors, fonts & fontsizes
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;   
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;   
    --color-gray-4: #F6F6F6;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400; 
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 2rem;
}

// Standard options for the site
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
    background-color: var(--color-white);
}
// Helpers
.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// the section title element
.section-title {
    
    text-align: center;
    padding: 2rem 0;
    h1 {
    font-family: var(--font-play);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-bold);
    }

    strong {
        color: var(--color-theme);
    }


    p {
        font-size: var(--font-size-16);
    }
}



// top-menu

.top-menu { 
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;

    .container {
        padding: 0;
    }

    a {
        color: var(--color-white);
        text-decoration: none;
        margin: 1rem;
    }

        a:hover {
            color: var(--color-theme-dark);
        }

// Top menu site settings and dropboxes
   
    .site-settings {
        display: flex;
     }    

        .site-settings .btn {
            background-color: var(--color-theme);
            color: var(--color-white);
            border: 0px;
            transition: 250ms ease-in-out;
        }    
            .site-settings .btn:hover {
                color: var(--color-theme-dark);
                border: 0px;
            }    

    .site-settings .dropdown-menu {
        background-color: var(--color-theme);
        border-radius: 0;



        a {
            color: var(--color-white);
            background-color: var(--color-theme);
            margin: 1rem 0;

        }
            a:hover {
                color: var(--color-theme-dark);
                background-color: var(--color-theme);
                font-weight: var(--font-weight-bold);
            }

    
        }

// Top menu links and social media buttons
      
    .menu-links {
        .social-media  {
            margin-left: 1rem;
            font-size: var(--font-size-14);

        a {
            margin: 0.3rem;
    
        }

            a:last-child {
                margin: 0 0 0 0.3rem;
        
            }

    }

    }

 }    
// The Main part of the Header
.main-menu {
    
    .border-bottom {
        border-color: var(--color-gray-3);
    }

    .container {
        padding: 2rem 0; 
        justify-content: space-around;
    }
// Left side, brand logo
    .logo-menu {
        flex: 2;
        justify-content: start;
    }
// Searchbar
    .searchbar {
        flex: 3;
        
        input {
            width: 90%;
            height: 40px;
            border-radius: 20px 0 0 20px;
            padding: .2rem 1rem;
            outline: none;
            border: 1px solid;
            border-color: var(--color-gray-2);
        }

        .btn {
            border-radius: 0 20px 20px 0;
            height: 40px;
            transition: 250ms ease-in-out;
            padding: .3rem .8rem;

                &:hover {
                    background-color: var(--color-theme-dark);
                    color: var(--color-theme);
                }
        }


    }
// Right side, user controls
    .user-controls  {
        flex: 2;
        display: flex;
        justify-content: end;
        align-items: center;
    }
        
        button {
            position: absolute;
            border-radius: 50%;
            border: none;
            background-color: var(--color-theme);
            color: var(--color-white);
            font-size: .8rem;


        }

        .user-controls i {
            font-size: var(--font-size-16)
        }
    
        .user-controls a {
            color: var(--color-theme-dark);
            text-decoration: none;
            margin: 0 0 0 1rem;
            transition: 250ms ease-in-out;
        }
            .user-controls a:hover {
                color: var(--color-theme);

                #total-amount-shuffel {
                    color: var(--color-theme-dark);
                    transition: 250ms ease-in-out;
                }

                #total-amount-cart {
                    color: var(--color-theme-dark);
                    transition: 250ms ease-in-out;
                }

            }


        #shuffel {
            position: relative;

            #total-amount-shuffel {
                position: absolute;
                top: -.8rem;
                left: .7rem;

            }
        }

        #cart {
            position: relative;

            #total-amount-cart {
                position: absolute;
                top: -.8rem;
                left: .7rem;
    
            }

        }

}
 // The bottom part of the header
.main-menu-bottom {

    .container {
    padding: 0;
    margin-top: 0;
    }   
 // The categories dropdown menu
    .dropdown {
        background-color: var(--color-theme);

        .btn {
            color: var(--color-white);
            border: 0px;
            // Height not working properly, fixed height ok?
            height: 3.5rem;
        }
            .btn:hover {
                color: var(--color-theme-dark);
                border: 0px;
            }

        .dropdown-menu {
            background-color: var(--color-theme);
            border-radius: 0;
            transition: 250ms ease-in-out;
        

            a {
                color: var(--color-white);
            }
                a:hover {
                    background-color: var(--color-theme);
                    color: var(--color-theme-dark);
                    font-weight: var(--font-weight-bold);
                }
        }

    }
 // Special offer button
    .special-offer {

        padding: .3rem;

        #btn-special-offer {
            border-radius: 2rem;
            border: none;
            padding: .5rem 1rem;
            background-color: var(--color-theme);
            color: var(--color-white);
            transition: 250ms ease-in-out;
        }

            #btn-special-offer:hover {
                color: var(--color-theme-dark);
                background-color: var(--color-theme-light);
            }
        
        
    }

}
// The Carousell part of the site
.carousell {

    .container {

        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    background-color: var(--color-gray-3);

    .carousell-text {
       flex: 2;

        h1 {
            color: var(--color-theme-dark);
            font-size: var(--font-size-60);
            font-family: var(--font-play);
        }

        .bold {
            color: var(--color-theme);
            font-weight: var(--font-weight-bold);
        }

        p {
            font-size: var(--font-size-14);
        }

        .carousell-btn {

            border-radius: var(--border-radius-rounded);
            font-weight: var(--font-weight-medium);
            
            

            #btn-shop-now {
                border-radius: 2rem;
                border: none;
                padding: .5rem 1rem;
                background-color: var(--color-white);
                color: var(--color-theme); 
                transition: 250ms ease-in-out;   
            }

            #btn-shop-now:hover {
                background-color: var(--color-theme);
                color: var(--color-white);

                
            }
            
        }

    }
}

// Webshop info boxes
.webshop-info {

    .container-fluid {
        display: flex;
        justify-content: space-evenly;
        max-width: 1600px;
        margin-top: 5rem;
    }

    .info-box {
        display: flex;
        align-items: center;
        background-color: var(--color-theme-light); 
        padding: .8rem;
        border-radius: var(--border-radius-small);
        margin: 1rem;
        flex: 1;
        transition: 500ms ease-in-out;

        .info-box-text {
            margin-left: 1rem;
        }

        h1 {
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-medium);
            color: var(--color-theme);
            transition: 250ms ease-in-out;
        }

        p {
            font-size: var(--font-size-16);
            color: var(--color-theme-dark);
            transition: 250ms ease-in-out;
        }

        i {
            color: var(--color-theme);
            transition: 250ms ease-in;
        }

       }
            .info-box:hover {
                background-color: var(--color-theme); 

                h1 {
                    color: var(--color-white);
                }
                p {
                    color: var(--color-white);
                }

                i {
                    filter: brightness(1000%);
                }
            }

}

// Shop by Category Grid
.content {

    .container {
        flex-direction: column
    }

    // Category grid system
    .grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5 , 249px);
        grid-template-rows: repeat(3 , 249px);
        
        #category-box-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        #category-box-2 {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
        }
        #category-box-3 {
            grid-column: 1 / 3;
            grid-row: 2 / -1;
        }
        #category-box-4 {
            grid-column: 3 / 3;
            grid-row: 2 / 3;
        }
        #category-box-5 {
            grid-column: 4 / -1;
            grid-row: 1 / 3;
        }
        #category-box-6 {
            grid-column: 3 / 5;
            grid-row: 3 / 3;
        }
        #category-box-7 {
            grid-column: 5 / -1;
            grid-row: 3 / 3;
        }

        .box {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: var(--color-gray-1);
            border-radius: var(--border-radius-small);
            position: relative;
            
            
            


            .category-box-title {
                font-size: var(--font-size-16);
                padding: .5rem 1rem;
                background-color: var(--color-theme-dark);
                height: 5rem;
                width: 50%;
                border-radius: 0  var(--border-radius-small) 0 0;
                color: var(--color-theme);
                position: absolute;
                left: 0;
                bottom: -2rem;
                transition: 250ms ease-in-out;
                
                

                span {
                    margin-top: 1rem;
                    display: block;
                    color: var(--color-white);
                    font-size: 14px;
                }
                
            }
        }

        .box:hover .category-box-title {
            height: 8rem;
        }
   }
// item-cards
    .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        .item-card {
            background-color: var(--color-gray-4);
            border-radius: var(--border-radius-small);
            height: 400px;
            width: 300px;
            overflow: hidden;
            position: relative;
            margin: 1rem;
            
            

            .card-links {
                display: grid;
                height: 50%;
                background-color: var(--color-white);
                position: absolute;
                left: 75%;
                font-size: var(--font-size-18);
                border-radius: var(--border-radius-medium);
                z-index: 2;
                transition: top 500ms ease-in-out;
                top: 100%;


                a {
                    margin: 0 0.5rem;
                }

                .card-link-icon {
                    color: var(--color-gray-0);
                }

                .in-stock {
                    color: var(--color-product-instock);
                    margin: .8rem 0.5rem;
                }

                    .card-link-icon:hover {
                            color: var(--color-theme);
                    }

                #in-stock-new-1 {
                    color: var(--color-product-outofstock);
                }
                #in-stock-featured-3 {
                    color: var(--color-product-outofstock);
                }
            }

        

            .card-box {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
                border-radius: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.9;
                transition: top 500ms ease-in-out;
                top: 85%;
                
                

                .card-info {
                    margin: .8rem;
                    font-size: var(--font-size-14);
                    position: relative;
                    transition: top 500ms ease-in-out;
                    top: 1%;
                    
                    
                    button {
                        background: none;
                        color: var(--color-white);
                        border-color: var(--color-white);
                        transition: 250ms ease-in-out;

                        &:hover {
                            background-color: var(--color-white);
                            color: var(--color-theme);
                        }
                    }


                    .ordinary-price {
                        text-decoration: line-through;
                        margin-top: 1rem;
                    }
    
                    .discount-price {
                        font-size: var(--font-size-16);
                        color: var(--color-theme);
                    }

                }

            }

            .card-rating {
                color: var(--color-theme);
                position: absolute;
                top: 150%;
                left: 50%;
                z-index: 1;
                transition: 500ms ease-in-out;
                font-size: var(--font-size-16);
            }
        }

        .item-card:hover .card-box {
            top: 0;
            height: 100%;

            .card-info {
                top: 50%;
            }
        }
            .item-card:hover .card-links {
                top: 10%;
                
            }
            
            .item-card:hover .card-rating {
                top: 85%;
            }
    }
// The divider between itemcards, called promobanner
    .promo-banner {
        background-color: var(--color-gray-1);
        margin-top: 5rem;
        
        .container {
            flex-direction: row;
            padding: 0;

            .promo-box {
                background-color: var(--color-theme);
                text-align: center;
                height: 400px;
                padding: 5rem 2rem;

                h1 {
                    color: var(--color-white);
                    font-size: var(--font-size-36);
                    font-family: var(--font-play);

                    strong {
                        font-size: var(--font-size-60);
                    }
                }

                h2 {
                    font-size: var(--font-size-18);
                    color: var(--color-white);
                }

                .btn {
                    background-color: var(--color-theme-dark);
                    border-radius: var(--border-radius-rounded);
                    color: var(--color-white);
                    border: none;
                    padding: 1rem;
                    margin-top: 1rem;
                    font-size: var(--font-size-16);
                    transition: 250ms ease-in-out; 
                }

                .btn:hover {
                    border: none;
                    background-color: var(--color-theme-light);
                    color: var(--color-theme);
                }
            }

            .promo-text {
                width: 500px;
                margin: 2rem;

                p {
                    font-size: var(--font-size-14);
                    color: var(--color-white);

                }

                .btn {
                    background-color: var(--color-white);
                    border-radius: var(--border-radius-rounded);
                    color: var(--color-theme-dark);
                    border: none;
                    padding: 1rem 2rem;
                    margin-top: 1rem;
                    font-size: var(--font-size-14);
                    transition: 250ms ease-in-out; 
                }

                .btn:hover {
                    border: none;
                    background-color: var(--color-theme);
                    
                }
            } 
        }
    }
// Flashsale promobanner
    .promo-flash-banner {
        background-color: var(--color-theme-dark);
        margin-top: 5rem;
        
        
        .container {
            flex-direction: row;
            padding: 0;
            height: 400px;
            align-items: baseline;
            position: relative;

            .promo-flash-box {
                background-color: var(--color-theme);
                text-align: center;
                height: 60%;
                width: 250px;
                padding: 2rem;

                h1 {
                    color: var(--color-white);
                    font-size: 60px;
                    font-family: var(--font-play);
                    font-weight: var(--font-weight-bold);
                }

                h2 {
                    font-size: var(--font-size-14);
                    color: var(--color-white);
                }
            }

            .promo-flash-timer {
                position: absolute;
                right: 0;
                top: 25%;

                .time-circle-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .time-circle {
                        background-color: var(--color-white);
                        border-style: dashed;
                        border-width: 2px;
                        border-color: var(--color-theme);
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        text-align: center;
                        padding-top: 1.5rem;

                        h1 {
                            font-family: var(--font-play);
                            font-weight: var(--font-weight-bold);
                            color: var(--color-theme);
                            line-height: 50%;
                            
                        }
                    }
                }

                .btn {
                    background-color: var(--color-white);
                    border-radius: var(--border-radius-rounded);
                    color: var(--color-theme);
                    border: none;
                    padding: 1rem 2.5rem;
                    margin: 2rem 10rem;
                    font-size: var(--font-size-14);
                    transition: 250ms ease-in-out; 

                    &:hover {
                        border: none;
                        background-color: var(--color-theme);
                        color: var(--color-white);
                        
                    }
                }
            }  
        }
    }
// big item cards with grid
    .card-wrapper-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2 , 600px);
        grid-template-rows: repeat(2 , 400px);

        #item-card-grid-1 {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
        }    
        #item-card-grid-2 {
            grid-column: 2 / -1;
            grid-row: 1 / 1;
        }    
        #item-card-grid-3 {
            grid-column: 2 / -1;
            grid-row: 2 / -1
        }    

        .item-card-grid {
            background-color: var(--color-gray-4);
            border-radius: var(--border-radius-small);
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            margin: 1rem;
            

            .card-links {
                display: grid;
                height: 200px;
                background-color: var(--color-white);
                position: absolute;
                left: 80%;
                font-size: var(--font-size-18);
                border-radius: var(--border-radius-medium);
                z-index: 1;
                transition: top 500ms ease-in-out;
                top: 100%;


                a {
                    margin: 0 0.5rem;
                }

                .card-link-icon {
                    color: var(--color-gray-0);
                }

                .in-stock {
                    color: var(--color-product-instock);
                    margin: .8rem 0.5rem;
                }

                    .card-link-icon:hover {
                            color: var(--color-theme);
                    }

                #in-stock-top-2 {
                    color: var(--color-product-outofstock);
                }
            }

            .card-box {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
                border-radius: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.9;
                transition: top 500ms ease-in-out;
                top: 85%;
                
                

                .card-info {
                    margin: .8rem;
                    font-size: var(--font-size-14);
                    position: relative;
                    transition: top 500ms ease-in-out;
                    top: 1%;
                    
                    
                    button {
                        background: none;
                        color: var(--color-white);
                        border-color: var(--color-white);
                        transition: 250ms ease-in-out;

                        &:hover {
                            background-color: var(--color-white);
                            color: var(--color-theme);
                        }
                    }


                    .ordinary-price {
                        text-decoration: line-through;
                        margin-top: 1rem;
                    }
    
                    .discount-price {
                        font-size: var(--font-size-16);
                        color: var(--color-theme);
                    }

                }

            }
            .card-box-big {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
                border-radius: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.9;
                transition: top 500ms ease-in-out;
                top: 93%;
                
                

                .card-info {
                    margin: .8rem;
                    font-size: var(--font-size-14);
                    position: relative;
                    transition: top 500ms ease-in-out;
                    top: 1%;
                    
                    
                    button {
                        background: none;
                        color: var(--color-white);
                        border-color: var(--color-white);
                        transition: 250ms ease-in-out;

                        &:hover {
                            background-color: var(--color-white);
                            color: var(--color-theme);
                        }
                    }


                    .ordinary-price {
                        text-decoration: line-through;
                        margin-top: 1rem;
                    }
    
                    .discount-price {
                        font-size: var(--font-size-16);
                        color: var(--color-theme);
                    }

                }

            }
            .card-rating {
                color: var(--color-theme);
                position: absolute;
                top: 150%;
                left: 65%;
                z-index: 1;
                transition: 500ms ease-in-out;
                font-size: var(--font-size-16);
            }
        }

        

        .item-card-grid:hover .card-box {
            top: 0;
            height: 100%;

            .card-info {
                top: 50%;
            }
        }
            .item-card-grid:hover .card-links {
                top: 10%;
                
            }
        .item-card-grid:hover .card-box-big {
            top: 0;
            height: 100%;

            .card-info {
                top: 75%;
            }

        }
                .item-card-grid:hover .card-links {
                    top: 5%;
                    
                }

                .item-card-grid:hover .card-rating {
                    top: 85%;
                    
                }
    }
// Subscribe to newsletter
    .subscribe-newsletter {
        background-color: var(--color-gray-4);

        margin-top: 5rem;
        .container {
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

            .section-title {
                text-align: start;
            }


            #subscribe-newsletter {
                position: relative;
                width: 550px;

                input {
                    border: var(--color-theme-light);
                    border-radius: var(--border-radius-medium);
                    width: 100%;
                    padding: 1rem;
                    font-size: var(--font-size-18);

                    &:focus {
                        outline: var(--color-theme-light);
                    }
                }
    
                .btn {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    border-radius: var(--border-radius-medium);
                    height: 90%;
                    padding: 10px 30px;
                    position: absolute;
                    top: 5%;
                    right: 5px;
                    font-size: var(--font-size-14);

                    &:hover {
                        background-color: var(--color-theme-dark);
                        color: var(--color-theme);
                        border: none;
                    }

                }

            }



            .gray-box {
                background-color: var(--color-gray-1);
                height: 400px;
                width: 550px;
            }
        }
    }

}
// Footer
.footer {
    background-color: var(--color-dark);

    .container {
        padding: 1rem 0;
        align-items: center;
    }

    p {
        color: var(--color-white);
        margin-top: 1rem;
    }
}

// Login page 

.login-content {

    .breadcrumbs {
        background-color: #0E153D;
        color: var(--color-theme);
        align-items: center;

        .container {
            padding: 3rem 0;
        }

        .breadcrumb-current {
            font-size: var(--font-size-16);
        }

        .breadcrumb-item {
            text-decoration: none;
            color: var(--color-white);
            
            a {
                text-decoration: none;
                color: var(--color-theme);

            }
        }
    }

    .login-forms {
        margin: 5rem 0;
        .container {
            padding: 0;
            justify-content: space-evenly;
            align-items: baseline;

            .form-card {
                background-color: var(--color-gray-3);
                border-radius: var(--border-radius-small);
                padding: 1rem;
                margin: 1rem;
                width: 600px;

                h2 {
                    margin-bottom: 1rem;
                }

                .register {
                    display: flex;
                    flex-direction: column;

                    .required {
                        color: var(--color-theme);
                        display: inline;
                    }

                    label {
                        font-size: var(--font-size-14);
                        margin-bottom: .3rem;
                    }

                    input {
                        border: none;
                        border-radius: var(--border-radius-small);
                        margin-bottom: 1.5rem;
                        padding: .5rem;

                        &:focus {
                            box-shadow: 2px 2px 10px var(--color-theme-dark);
                            
                            outline: none;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: var(--color-theme);
                        transition: 100ms ease-in-out;
                        
                        &:hover {
                            color: var(--color-theme-dark);
                            text-decoration: underline;
                        }
                    }
                    
                    .btn {
                        background-color: var(--color-theme);
                        border-radius: var(--border-radius-rounded);
                        color: var(--color-white);
                        border: none;
                        transition: 250ms ease-in-out;
                        margin-top: 2rem;


                        &:hover {
                            border: none;
                            background-color: var(--color-theme-dark);
                            color: var(--color-theme);
                        }
                    }
                }

                .login {
                    display: flex;
                    flex-direction: column;

                    .container {
                        justify-content: space-between;
                    }

                    .required {
                        color: var(--color-theme);
                        display: inline;
                    }

                    label {
                        font-size: var(--font-size-14);
                        margin-bottom: .3rem;
                    }

                    input {
                        border: none;
                        border-radius: var(--border-radius-small);
                        margin-bottom: 1.5rem;
                        padding: .5rem;

                        &:focus {
                            box-shadow: 2px 2px 10px var(--color-theme-dark);
                            outline: none;
                        }
                    }
                    
                    .btn {
                        background-color: var(--color-theme);
                        border-radius: var(--border-radius-rounded);
                        color: var(--color-white);
                        border: none;
                        transition: 250ms ease-in-out;
                        margin-top: 2rem;

                        &:hover {
                            border: none;
                            background-color: var(--color-theme-dark);
                            color: var(--color-theme);
                        }
                    }

                    #lost-password {
                        text-decoration: none;
                        color: var(--color-theme);
                        transition: color 250ms;

                        &:hover {
                            color: var(--color-theme-dark);
                            text-decoration: underline;
                        }
                    }

                    .remember {

                        input {
                            box-shadow: none;
                            cursor: pointer;
                        }
                        
                        label:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .login-with {
                    
                .divider-line {
                    height: 2px;
                    border: 1px solid;
                    border-color: var var(--color-gray-0);
                    width: 100%;
                    opacity: 30%;
                }

                .divider-text {
                    padding: 2rem;
                    width: 100%;
                    text-align: center;
                    font-weight: var(--font-weight-medium);
                }


            .social-media-login {
                

                .container {
                    justify-content: space-evenly;
                }

                #facebook-login {
                    background-color: #3B5998;
                    color: var(--color-white);
                    width: 300px;
                    height: 40px;
                    border: none;
                    border-radius: var(--border-radius-small);
                    text-align: center;
                    position: relative;
                    padding: .2rem 0;
                    margin: .5rem;
                    transition: box-shadow 100ms ease-in-out;

                    i {
                        position: absolute;
                        left: 10px;
                        font-size: var(--font-size-24);
                    }
                    p {
                        display: inline-block;
                        margin: .2rem;
                        
                    }
                        &:hover {
                            box-shadow: 1px 1px 5px var(--color-theme-dark);
                        }
                }
                #google-login {
                    background-color: #4285F4;
                    color: var(--color-white);
                    width: 300px;
                    height: 40px;
                    border: none;
                    border-radius: var(--border-radius-small);
                    text-align: center;
                    position: relative;
                    padding: .2rem 0;
                    margin: .5rem;
                    transition: box-shadow 100ms ease-in-out;

                    i {
                        position: absolute;
                        left: 10px;
                        font-size: var(--font-size-24);
                        
                    }
                    p {
                        display: inline-block;
                        margin: .2rem;
                        
                    }

                        &:hover {
                            box-shadow: 1px 1px 5px var(--color-theme-dark);
                        }
                }
            }
        }
    }
}