@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --color-theme: #20D3C2;
  --color-theme-light: #EDFCFA;
  --color-theme-dark: #0E153D;
  --color-dark: #080C24;
  --color-white: #FFFFFF;
  --color-gray-0: #AAAAAA;
  --color-gray-1: #CCCCCC;
  --color-gray-2: #E3E3E3;
  --color-gray-3: #EEEEEE;
  --color-gray-4: #F6F6F6;
  --color-product-instock: #82D8C6;
  --color-product-outofstock: #FE6C6C;
  --font-play: "Play", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-14: 1.17rem;
  --font-size-16: 1.33rem;
  --font-size-18: 1.5rem;
  --font-size-24: 2rem;
  --font-size-36: 3rem;
  --font-size-60: 5rem;
  --border-radius-small: 8px;
  --border-radius-medium: 25px;
  --border-radius-rounded: 2rem;
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-regular);
  color: var(--color-theme-dark);
  background-color: var(--color-white);
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  text-align: center;
  padding: 2rem 0;
}
.section-title h1 {
  font-family: var(--font-play);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
}
.section-title strong {
  color: var(--color-theme);
}
.section-title p {
  font-size: var(--font-size-16);
}

.top-menu {
  background-color: var(--color-theme);
  color: var(--color-white);
  height: 40px;
}
.top-menu .container {
  padding: 0;
}
.top-menu a {
  color: var(--color-white);
  text-decoration: none;
  margin: 1rem;
}
.top-menu a:hover {
  color: var(--color-theme-dark);
}
.top-menu .site-settings {
  display: flex;
}
.top-menu .site-settings .btn {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: 0px;
  transition: 250ms ease-in-out;
}
.top-menu .site-settings .btn:hover {
  color: var(--color-theme-dark);
  border: 0px;
}
.top-menu .site-settings .dropdown-menu {
  background-color: var(--color-theme);
  border-radius: 0;
}
.top-menu .site-settings .dropdown-menu a {
  color: var(--color-white);
  background-color: var(--color-theme);
  margin: 1rem 0;
}
.top-menu .site-settings .dropdown-menu a:hover {
  color: var(--color-theme-dark);
  background-color: var(--color-theme);
  font-weight: var(--font-weight-bold);
}
.top-menu .menu-links .social-media {
  margin-left: 1rem;
  font-size: var(--font-size-14);
}
.top-menu .menu-links .social-media a {
  margin: 0.3rem;
}
.top-menu .menu-links .social-media a:last-child {
  margin: 0 0 0 0.3rem;
}

.main-menu .border-bottom {
  border-color: var(--color-gray-3);
}
.main-menu .container {
  padding: 2rem 0;
}
.main-menu .logo-menu {
  flex: 2;
  justify-content: start;
}
.main-menu .searhbar {
  flex: 5;
}
.main-menu .user-controls {
  flex: 2;
  display: flex;
  justify-content: end;
  align-items: center;
}
.main-menu button {
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: var(--color-theme);
  color: var(--color-white);
  font-size: 0.8rem;
}
.main-menu .user-controls i {
  font-size: var(--font-size-16);
}
.main-menu .user-controls a {
  color: var(--color-theme-dark);
  text-decoration: none;
  margin: 0 0 0 1rem;
  transition: 250ms ease-in-out;
}
.main-menu .user-controls a:hover {
  color: var(--color-theme);
}
.main-menu .user-controls a:hover #total-amount-shuffel {
  color: var(--color-theme-dark);
  transition: 250ms ease-in-out;
}
.main-menu .user-controls a:hover #total-amount-cart {
  color: var(--color-theme-dark);
  transition: 250ms ease-in-out;
}
.main-menu #shuffel {
  position: relative;
}
.main-menu #shuffel #total-amount-shuffel {
  position: absolute;
  top: -0.8rem;
  left: 0.7rem;
}
.main-menu #cart {
  position: relative;
}
.main-menu #cart #total-amount-cart {
  position: absolute;
  top: -0.8rem;
  left: 0.7rem;
}

.main-menu-bottom .container {
  padding: 0;
  margin-top: 0;
}
.main-menu-bottom .dropdown {
  background-color: var(--color-theme);
}
.main-menu-bottom .dropdown .btn {
  color: var(--color-white);
  border: 0px;
  height: 3.5rem;
}
.main-menu-bottom .dropdown .btn:hover {
  color: var(--color-theme-dark);
  border: 0px;
}
.main-menu-bottom .dropdown .dropdown-menu {
  background-color: var(--color-theme);
  border-radius: 0;
  transition: 250ms ease-in-out;
}
.main-menu-bottom .dropdown .dropdown-menu a {
  color: var(--color-white);
}
.main-menu-bottom .dropdown .dropdown-menu a:hover {
  background-color: var(--color-theme);
  color: var(--color-theme-dark);
  font-weight: var(--font-weight-bold);
}
.main-menu-bottom .special-offer {
  padding: 0.3rem;
}
.main-menu-bottom .special-offer #btn-special-offer {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-theme);
  color: var(--color-white);
  transition: 250ms ease-in-out;
}
.main-menu-bottom .special-offer #btn-special-offer:hover {
  color: var(--color-theme-dark);
  background-color: var(--color-theme-light);
}

.carousell {
  background-color: var(--color-gray-3);
}
.carousell .container {
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.carousell .carousell-text {
  flex: 2;
}
.carousell .carousell-text h1 {
  color: var(--color-theme-dark);
  font-size: var(--font-size-60);
  font-family: var(--font-play);
}
.carousell .carousell-text .bold {
  color: var(--color-theme);
  font-weight: var(--font-weight-bold);
}
.carousell .carousell-text p {
  font-size: var(--font-size-14);
}
.carousell .carousell-text .carousell-btn {
  border-radius: var(--border-radius-rounded);
  font-weight: var(--font-weight-medium);
}
.carousell .carousell-text .carousell-btn #btn-shop-now {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-theme);
  transition: 250ms ease-in-out;
}
.carousell .carousell-text .carousell-btn #btn-shop-now:hover {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.webshop-info .container-fluid {
  display: flex;
  justify-content: space-evenly;
  max-width: 1600px;
  margin-top: 5rem;
}
.webshop-info .info-box {
  display: flex;
  align-items: center;
  background-color: var(--color-theme-light);
  padding: 0.8rem;
  border-radius: var(--border-radius-small);
  margin: 1rem;
  flex: 1;
  transition: 500ms ease-in-out;
}
.webshop-info .info-box .info-box-text {
  margin-left: 1rem;
}
.webshop-info .info-box h1 {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  color: var(--color-theme);
  transition: 250ms ease-in-out;
}
.webshop-info .info-box p {
  font-size: var(--font-size-16);
  color: var(--color-theme-dark);
  transition: 250ms ease-in-out;
}
.webshop-info .info-box i {
  color: var(--color-theme);
  transition: 250ms ease-in;
}
.webshop-info .info-box:hover {
  background-color: var(--color-theme);
}
.webshop-info .info-box:hover h1 {
  color: var(--color-white);
}
.webshop-info .info-box:hover p {
  color: var(--color-white);
}
.webshop-info .info-box:hover i {
  filter: brightness(1000%);
}

.content .container {
  flex-direction: column;
}
.content .grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 249px);
  grid-template-rows: repeat(3, 249px);
}
.content .grid #category-box-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.content .grid #category-box-2 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.content .grid #category-box-3 {
  grid-column: 1/3;
  grid-row: 2/-1;
}
.content .grid #category-box-4 {
  grid-column: 3/3;
  grid-row: 2/3;
}
.content .grid #category-box-5 {
  grid-column: 4/-1;
  grid-row: 1/3;
}
.content .grid #category-box-6 {
  grid-column: 3/5;
  grid-row: 3/3;
}
.content .grid #category-box-7 {
  grid-column: 5/-1;
  grid-row: 3/3;
}
.content .grid .box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-gray-1);
  border-radius: var(--border-radius-small);
  position: relative;
}
.content .grid .box .category-box-title {
  font-size: var(--font-size-16);
  padding: 0.5rem 1rem;
  background-color: var(--color-theme-dark);
  height: 5rem;
  width: 50%;
  border-radius: 0 var(--border-radius-small) 0 0;
  color: var(--color-theme);
  position: absolute;
  left: 0;
  bottom: -2rem;
  transition: 250ms ease-in-out;
}
.content .grid .box .category-box-title span {
  margin-top: 1rem;
  display: block;
  color: var(--color-white);
  font-size: 14px;
}
.content .grid .box:hover .category-box-title {
  height: 8rem;
}
.content .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.content .card-wrapper .item-card {
  background-color: var(--color-gray-4);
  border-radius: var(--border-radius-small);
  height: 400px;
  width: 350px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
}
.content .card-wrapper .item-card .card-links {
  display: grid;
  height: 50%;
  background-color: var(--color-white);
  position: absolute;
  left: 75%;
  font-size: var(--font-size-18);
  border-radius: var(--border-radius-medium);
  z-index: 1;
  transition: top 500ms ease-in-out;
  top: 100%;
}
.content .card-wrapper .item-card .card-links a {
  margin: 0 0.5rem;
}
.content .card-wrapper .item-card .card-links .card-link-icon {
  color: var(--color-gray-0);
}
.content .card-wrapper .item-card .card-links .in-stock {
  color: var(--color-product-instock);
  margin: 0.8rem 0.5rem;
}
.content .card-wrapper .item-card .card-links .card-link-icon:hover {
  color: var(--color-theme);
}
.content .card-wrapper .item-card .card-links #in-stock-2 {
  color: var(--color-product-outofstock);
}
.content .card-wrapper .item-card .card-box {
  background-color: var(--color-theme-dark);
  color: var(--color-white);
  border-radius: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: top 500ms ease-in-out;
  top: 85%;
}
.content .card-wrapper .item-card .card-box .card-info {
  margin: 0.8rem;
  font-size: var(--font-size-14);
  position: relative;
  transition: top 500ms ease-in-out;
  top: 1%;
}
.content .card-wrapper .item-card .card-box .card-info button {
  background: none;
  color: var(--color-white);
  border-color: var(--color-white);
  transition: 250ms ease-in-out;
}
.content .card-wrapper .item-card .card-box .card-info button:hover {
  background-color: var(--color-white);
  color: var(--color-theme);
}
.content .card-wrapper .item-card .card-box .card-info .ordinary-price {
  text-decoration: line-through;
  margin-top: 1rem;
}
.content .card-wrapper .item-card .card-box .card-info .discount-price {
  font-size: var(--font-size-16);
  color: var(--color-theme);
}
.content .card-wrapper .item-card:hover .card-box {
  top: 0;
  height: 100%;
}
.content .card-wrapper .item-card:hover .card-box .card-info {
  top: 50%;
}
.content .card-wrapper .item-card:hover .card-links {
  top: 10%;
}
.content .promo-banner {
  background-color: var(--color-gray-1);
  margin-top: 5rem;
}
.content .promo-banner .container {
  flex-direction: row;
  padding: 0;
}
.content .promo-banner .container .promo-box {
  background-color: var(--color-theme);
  text-align: center;
  height: 400px;
  padding: 5rem 2rem;
}
.content .promo-banner .container .promo-box h1 {
  color: var(--color-white);
  font-size: var(--font-size-36);
  font-family: var(--font-play);
}
.content .promo-banner .container .promo-box h1 strong {
  font-size: var(--font-size-60);
}
.content .promo-banner .container .promo-box h2 {
  font-size: var(--font-size-18);
  color: var(--color-white);
}
.content .promo-banner .container .promo-box .btn {
  background-color: var(--color-theme-dark);
  border-radius: var(--border-radius-rounded);
  color: var(--color-white);
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  font-size: var(--font-size-16);
  transition: 250ms ease-in-out;
}
.content .promo-banner .container .promo-box .btn:hover {
  border: none;
  background-color: var(--color-theme-light);
  color: var(--color-theme);
}
.content .promo-banner .container .promo-text {
  width: 500px;
  margin: 2rem;
}
.content .promo-banner .container .promo-text p {
  font-size: var(--font-size-14);
  color: var(--color-white);
}
.content .promo-banner .container .promo-text .btn {
  background-color: var(--color-white);
  border-radius: var(--border-radius-rounded);
  color: var(--color-theme-dark);
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: var(--font-size-14);
  transition: 250ms ease-in-out;
}
.content .promo-banner .container .promo-text .btn:hover {
  border: none;
  background-color: var(--color-theme);
}
.content .promo-flash-banner {
  background-color: var(--color-theme-dark);
  margin-top: 5rem;
}
.content .promo-flash-banner .container {
  flex-direction: row;
  padding: 0;
  height: 400px;
  align-items: baseline;
  position: relative;
}
.content .promo-flash-banner .container .promo-flash-box {
  background-color: var(--color-theme);
  text-align: center;
  height: 60%;
  width: 250px;
  padding: 0rem 2rem;
}
.content .promo-flash-banner .container .promo-flash-box h1 {
  color: var(--color-white);
  font-size: var(--font-size-60);
  font-family: var(--font-play);
}
.content .promo-flash-banner .container .promo-flash-box h2 {
  font-size: var(--font-size-18);
  color: var(--color-white);
}
.content .promo-flash-banner .container .promo-flash-timer {
  position: absolute;
  right: 0;
  top: 25%;
}
.content .promo-flash-banner .container .promo-flash-timer .time-circle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .promo-flash-banner .container .promo-flash-timer .time-circle-row .time-circle {
  background-color: var(--color-white);
  border-style: dashed;
  border-width: 2px;
  border-color: var(--color-theme);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 1.5rem;
}
.content .promo-flash-banner .container .promo-flash-timer .time-circle-row .time-circle h1 {
  font-family: var(--font-play);
  font-weight: var(--font-weight-bold);
  color: var(--color-theme);
  line-height: 50%;
}
.content .promo-flash-banner .container .promo-flash-timer .btn {
  background-color: var(--color-white);
  border-radius: var(--border-radius-rounded);
  color: var(--color-theme);
  border: none;
  padding: 1rem 2.5rem;
  margin: 2rem 10rem;
  font-size: var(--font-size-14);
  transition: 250ms ease-in-out;
}
.content .promo-flash-banner .container .promo-flash-timer .btn:hover {
  border: none;
  background-color: var(--color-theme);
  color: var(--color-white);
}
.content .card-wrapper-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 550px);
  grid-template-rows: repeat(2, 400px);
}
.content .card-wrapper-grid #item-card-grid-1 {
  grid-column: 1/2;
  grid-row: 1/-1;
}
.content .card-wrapper-grid #item-card-grid-2 {
  grid-column: 2/-1;
  grid-row: 1/1;
}
.content .card-wrapper-grid #item-card-grid-3 {
  grid-column: 2/-1;
  grid-row: 2/-1;
}
.content .card-wrapper-grid .item-card-grid {
  background-color: var(--color-gray-4);
  border-radius: var(--border-radius-small);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 1rem;
}
.content .card-wrapper-grid .item-card-grid .card-links {
  display: grid;
  height: 200px;
  background-color: var(--color-white);
  position: absolute;
  left: 80%;
  font-size: var(--font-size-18);
  border-radius: var(--border-radius-medium);
  z-index: 1;
  transition: top 500ms ease-in-out;
  top: 100%;
}
.content .card-wrapper-grid .item-card-grid .card-links a {
  margin: 0 0.5rem;
}
.content .card-wrapper-grid .item-card-grid .card-links .card-link-icon {
  color: var(--color-gray-0);
}
.content .card-wrapper-grid .item-card-grid .card-links .in-stock {
  color: var(--color-product-instock);
  margin: 0.8rem 0.5rem;
}
.content .card-wrapper-grid .item-card-grid .card-links .card-link-icon:hover {
  color: var(--color-theme);
}
.content .card-wrapper-grid .item-card-grid .card-links #in-stock-2 {
  color: var(--color-product-outofstock);
}
.content .card-wrapper-grid .item-card-grid .card-box {
  background-color: var(--color-theme-dark);
  color: var(--color-white);
  border-radius: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: top 500ms ease-in-out;
  top: 85%;
}
.content .card-wrapper-grid .item-card-grid .card-box .card-info {
  margin: 0.8rem;
  font-size: var(--font-size-14);
  position: relative;
  transition: top 500ms ease-in-out;
  top: 1%;
}
.content .card-wrapper-grid .item-card-grid .card-box .card-info button {
  background: none;
  color: var(--color-white);
  border-color: var(--color-white);
  transition: 250ms ease-in-out;
}
.content .card-wrapper-grid .item-card-grid .card-box .card-info button:hover {
  background-color: var(--color-white);
  color: var(--color-theme);
}
.content .card-wrapper-grid .item-card-grid .card-box .card-info .ordinary-price {
  text-decoration: line-through;
  margin-top: 1rem;
}
.content .card-wrapper-grid .item-card-grid .card-box .card-info .discount-price {
  font-size: var(--font-size-16);
  color: var(--color-theme);
}
.content .card-wrapper-grid .item-card-grid .card-box-big {
  background-color: var(--color-theme-dark);
  color: var(--color-white);
  border-radius: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: top 500ms ease-in-out;
  top: 93%;
}
.content .card-wrapper-grid .item-card-grid .card-box-big .card-info {
  margin: 0.8rem;
  font-size: var(--font-size-14);
  position: relative;
  transition: top 500ms ease-in-out;
  top: 1%;
}
.content .card-wrapper-grid .item-card-grid .card-box-big .card-info button {
  background: none;
  color: var(--color-white);
  border-color: var(--color-white);
  transition: 250ms ease-in-out;
}
.content .card-wrapper-grid .item-card-grid .card-box-big .card-info button:hover {
  background-color: var(--color-white);
  color: var(--color-theme);
}
.content .card-wrapper-grid .item-card-grid .card-box-big .card-info .ordinary-price {
  text-decoration: line-through;
  margin-top: 1rem;
}
.content .card-wrapper-grid .item-card-grid .card-box-big .card-info .discount-price {
  font-size: var(--font-size-16);
  color: var(--color-theme);
}
.content .card-wrapper-grid .item-card-grid:hover .card-box {
  top: 0;
  height: 100%;
}
.content .card-wrapper-grid .item-card-grid:hover .card-box .card-info {
  top: 50%;
}
.content .card-wrapper-grid .item-card-grid:hover .card-links {
  top: 10%;
}
.content .card-wrapper-grid .item-card-grid:hover .card-box-big {
  top: 0;
  height: 100%;
}
.content .card-wrapper-grid .item-card-grid:hover .card-box-big .card-info {
  top: 75%;
}
.content .card-wrapper-grid .item-card-grid:hover .card-links {
  top: 5%;
}
.content .subscribe-newsletter {
  background-color: var(--color-gray-4);
  margin-top: 5rem;
}
.content .subscribe-newsletter .container {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.content .subscribe-newsletter .container .section-title {
  text-align: start;
}
.content .subscribe-newsletter .container #subscribe-newsletter {
  position: relative;
  width: 550px;
}
.content .subscribe-newsletter .container #subscribe-newsletter input {
  border: var(--color-theme-light);
  border-radius: var(--border-radius-medium);
  width: 100%;
  padding: 1rem;
  font-size: var(--font-size-18);
}
.content .subscribe-newsletter .container #subscribe-newsletter input:focus {
  outline: var(--color-theme-light);
}
.content .subscribe-newsletter .container #subscribe-newsletter .btn {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-medium);
  height: 90%;
  padding: 10px 30px;
  position: absolute;
  top: 5%;
  right: 5px;
  font-size: var(--font-size-14);
}
.content .subscribe-newsletter .container #subscribe-newsletter .btn:hover {
  background-color: var(--color-theme-dark);
  color: var(--color-theme);
  border: none;
}
.content .subscribe-newsletter .container .gray-box {
  background-color: var(--color-gray-1);
  height: 400px;
  width: 550px;
}

.footer {
  background-color: var(--color-dark);
}
.footer .container {
  padding: 1rem 0;
  align-items: center;
}
.footer p {
  color: var(--color-white);
  margin-top: 1rem;
}/*# sourceMappingURL=style.css.map */